// Individual Box Styling
.one {
	@include inside__box__styling(
		linear-gradient(to right, #2980b9, #6dd5fa, #2b61f5)
	);
	grid-area: one;
	@include white__text__shadow();
}

.two {
	@include inside__box__styling(linear-gradient(to right, #b92b27, #1565c0));
	grid-area: two;
	color: #f5f5f5;
	@include black__text__shadow();
}

.three {
	@include inside__box__styling(
		linear-gradient(to right, #c6ffdd, #fbd786, #f7797d)
	);
	grid-area: three;
	@include white__text__shadow();
}

.four {
	@include inside__box__styling(linear-gradient(to right, #8e2de2, #4a00e0));
	grid-area: four;
	color: #f5f5f5;
	@include black__text__shadow();
}

.five {
	@include inside__box__styling(linear-gradient(to right, #f12711, #f5af19));
	grid-area: five;
	@include white__text__shadow();
}

.six {
	@include inside__box__styling(linear-gradient(to right, #ed213a, #93291e));
	grid-area: six;
	@include white__text__shadow();
}

.seven {
	@include inside__box__styling(linear-gradient(to right, #bc4e9c, #f80759));
	grid-area: seven;
	@include white__text__shadow();
}

.eight {
	@include inside__box__styling(linear-gradient(to right, #11998e, #38ef7d));
	grid-area: eight;
	@include white__text__shadow();
}

.nine {
	@include inside__box__styling(linear-gradient(to right, #cac531, #f3f9a7));
	grid-area: nine;
	@include white__text__shadow();
}

.ten {
	@include inside__box__styling(
		linear-gradient(to right, #03001e, #7303c0, #ec38bc)
	);
	color: #f5f5f5;
	grid-area: ten;
	@include black__text__shadow();
}

.eleven {
	@include inside__box__styling(linear-gradient(to right, #000000, #0f9b0f));
	color: #f5f5f5;
	grid-area: eleven;
	@include black__text__shadow();
}

.twelve {
	@include inside__box__styling(linear-gradient(to right, #e44d26, #f16529));
	grid-area: twelve;
	@include white__text__shadow();
}
